extends layout

block content
	h1 Ahmad's RESTful API
	h2 Time Microservice
	p.red Example Usage
	code localhost:3000/September 10,2016
	br
	code localhost:3000/1379103948
	p.red Expected Output is JSON
	code {"unix":1379103948  , "natural":September 10, 2016}}